<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Weather Forecast</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
  </head>
  <body >
      <section class="headArea bg-dark text-center">
        <h1 class="heading1 text-center text-warning pt-4 pb-2">How's the <span class="text-primary">Weather?</span></h1>
        <p class="lead text-success">Get ready for the next <span class="text-danger">thunderstorm</span> in your area</p>
      </div>
      </section>

      <section class="weatherArea text-center">
        <p class="lead1 pt-3 pb-3">Explore the weather of your city</p>
        <div class="container search">
          <form action="/"  method="post">
            <div class="input-group mb-3 searchbox" >
              <input type="text" class="form-control sbox" id="city" placeholder="Enter your city" name="city" >
              <div class="input-group-append" >
                <button type="submit" class="btn btn-primary m-2 " id="searchbtn" >Search</button>
              </div>
            </div>
          </form>

        </div>
        <div class="card text-center " >
          <i class="sunicon fas fa-sun fs-1 mt-4 text-warning"></i>
          <div class="card-body text-center ">
            <h2 class="m-1">Location</span></h2>
            <h3 class=" m-3" id="cityName"><i class="fa-solid fa-location-dot "></i><span class="text-warning" >  {{cityName}}</span></h3>
            <h2 class="m-3">Temperature</h2>
            <h3 class=" temp m-3" name="temp" ><i class="fa-solid fa-temperature-low"></i><span class="text-warning">  {{temp}}</span></h3>
            <p id="date">26 feb 2023 | 2:00 p.m</p>
          </div>
        </div>
      </section>

      
      <script src="index.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/bf88c09049.js" crossorigin="anonymous"></script>
  </body>
</html>