.headArea{
    height: 10rem;
}
.weatherArea{
    height: 100vh;
    /* background-color:blanchedalmond; */
}
.heading1{
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
.lead{
    text-transform: uppercase;
    font-size: large;
    font-weight: bold;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.lead1{
    font-size: x-large;
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.searchbox{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.sbox{
    width: 30rem;
    box-shadow: -6px -2px 23px 3px rgba(0,0,0,0.9);
    text-transform: capitalize;
    border-radius: 25px;
    border: 2px solid;
}
.sbox:hover{
    box-shadow: -6px -2px 23px 3px rgba(0,0,0,0.9);
    text-transform: capitalize;
}
.searchbtn{
    background-color:black;
    
}
.searchbtn:hover{
    background-color: brown;
    color: aliceblue;
}
.card{
    margin-left: 35%;
    margin-top: 3%;
    width: 30%;
    background-color:rgb(97, 125, 156);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    transition: transform ease-in-out 0.5s, box-shadow ease 0.5s;
}
.sunicon{
    font-size: xx-large;
    font-weight: bolder;
}
h2{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#date{
    color: rgb(22, 11, 58);
    font-weight: 700;
    font-size: large;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
